.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.caja {
    padding: 30px;
    border: 2px solid rgb(211, 20, 20);
    margin: 5px;
    text-align: center;
}

.caja:hover {
    background-color: rgb(22, 208, 22);
}